<!DOCTYPE html>
<html lang="en-us">

<head>

  <script src="https://d3js.org/d3-selection.v1.min.js"></script>
  <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
  <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
  <script type='text/javascript' src='static/js/planetaryjs.min.js'></script>

  <style>

    .bar{
      fill: steelblue;
    }
  
    .bar:hover{
      fill: brown;
    }
  
    .axis {
      font: 10px sans-serif;
    }
  
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  
    </style>
    
  <meta charset="utf-8" />
  <title> Covid-19-Canada </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap style sheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--CSS stylesheet-->
  <link rel="stylesheet" href="static/css/style_sheet.css">

</head>

<body>

  <script src="https://d3js.org/d3.v3.min.js"></script>

  <!-- navigation Bar -->
  <div class="navigation bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" style="background-color: rgb(178, 49, 32);" href="http://127.0.0.1:5000/">Covid-19 Canada</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://127.0.0.1:5000/graph_1">Alberta Covid Cases by age</a>
              
              <a class="dropdown-item" href="http://127.0.0.1:5000/graph_2">Ontario Covid Cases by age</a>
              
              <a class="dropdown-item" href="http://127.0.0.1:5000/graph_3">Alberta Fatalities</a>
              
              <a class="dropdown-item" href="http://127.0.0.1:5000/graph_4">Ontario Fatalities</a>
            </div>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/covidmap">Covid-19 Interactive Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/data_json">JSon Data</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>

  <!-- content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">

        <!-- left box  -->
        <div class="box">
          <h3 class="title">Data by province</h3>
          <hr>
          <canvas id='globe' width='500' height='200'></canvas>
          <script type='text/javascript' src='static/js/yourApp.js'></script>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js" class="vizualization rounded float-left" alt="Max temp graph" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> 
          <p>The purpose of this project is to map the severity of the COVID pandemic in the Provinces of Alberta, 
            British Colombia and Ontario. We obtained data from the provincial governments on case count and location. 
            Each case is identified by the age group and infection date. </p>
        </div>
      </div>


      <!-- right Box -->
      <div class="col-lg-5 col-md-12">
        <div class="box">
          <h5 class="title">Extensive View of Data Available</h5>
          <hr>


        <div class="container">
            <div class="row" style="padding-bottom: 30px;">
              <div class="col-6">
                <a href="http://127.0.0.1:5000/graph_1">
                  <img class="panel" src="static/ab_c.png" alt="Alberta Covid Cases by age">
                </a>
              </div>
              <div class="col-6">
                <a href="http://127.0.0.1:5000/graph_2">
                  <img class="panel" src="static/on_c.png" alt="Ontario Covid Cases by age">
                </a>
              </div>
            </div>

            <div class="row" style="padding-bottom: 30px;">
              <div class="col-6">
                <a href="http://127.0.0.1:5000/graph_3">
                  <img class="panel" src="static/ab_f.png" alt="Alberta Fatalities">
                </a>
              </div>
              <div class="col-6">
                <a href="http://127.0.0.1:5000/graph_4">
                  <img class="panel" src="static/on_f.png" alt="Ontario Fatalities">
                </a>
              </div>


            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- the footer -->
  <footer>
    <div class="footer"> &copy; Copyright Sep | Nadia | Ashwin | Dan |</div>
  </footer>

  <!-- bootstrap query -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>